{% extends "portfolio/header.html" %}

{% block content %}
  <main>
      <h1 id="title-txt">Design Portfolio</h1>
      <h3>Student at ADMU, Branding Director at User Experience Society</h2>
    </div>
  </main>
  <div id="about-sec">
    <span id="about_txt">Junior at Ateneo de Manila University. Aspiring visual
       and interaction designer based in Manila. I’m passionate about making
       lasting experiences through design</span>
  </div>
  <div class="blog_header">
    <span class="hero_heading">Works in Progress</span>
    <span class="hero_sub">Here's some of my work!</span>
  </div>
  <div class="article_grid">
    {% for post in object_list %}
      <article>
        <h2><a href="{{ post.id }}">{{post.title}}</a></h2>
        <h5>{{ post.created_on}}</h5>
      </article>
    {% endfor %}
  </div>
{% endblock %}
